{% load bootstrap4%}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Volhub</title>
</head>

<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}

    {% block styles %}
    <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
    {% endblock %}

    {% block srcipts%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}